* {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box; 

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}


ul,
li {
  list-style: none;
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* 스크롤바 없애기*/
}

::-webkit-scrollbar {
  /* 스크롤바 없애기*/
  display: none;
}

a:visited {
  /* a 태그 갔다왔을 때 색깔 black*/
  color: #ffffff;
}

section {
  /* 섹션 구분 margin */
  margin-bottom: 5%;
}

.img {
  width: 30%;
  /* 이미지 기본 크기 */
  margin-top: 7vw;
  /* title과 간극 */
}

/* 네비게이션 바 */
header {
  height: 75px;
  display: flex;
  /*한 줄 정렬*/
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #283459;
  z-index: 100;
  /* 레이아웃 중 맨 앞 */
}

.logo {
  width: 45%;
  margin-bottom: 5px;
}

.logo:hover {
  cursor: pointer;
}

.main_navbar {
  display: flex;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

nav a {
  /*nav바 안에 있는 모든 a태그의 밑줄 사라지게 하기*/
  text-decoration: none;
  /* anchor태그가 가지고 있는 기본 속성 없애기*/
  color: #ffffff;
}

/* nav바 hover시 밑줄 애니메이션 구현 */
nav a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--first-color);
  /* hover일 때 밑줄 생기도록 */
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

nav a:hover:after {
  transform: scaleX(1);
  /*마우스 오버됐을 때 밑줄이 생김 */
  transform-origin: left;
}

button:hover {
  cursor: pointer;
}

.left_bar {
  margin-right: 3%;
  /* right bar 띄우기 */
  display: flex;
  width: 100%;
  justify-content: flex-end;
  /* 오른쪽에 붙이기 */
}

.right_bar {
  display: flex;
  justify-content: flex-end;
  /* 오른쪽에 붙이기 */
}

.nav-item {
  list-style: none;
  margin: 0 20px;
}
.btn_menu {
  /* 햄버거 메뉴 아이콘 */
  display: none;
  border: none;
  background-color: transparent;
  /* 배경 투명하게 */
}


/* footer */
.main-footer {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid black;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: static;
}

.main-footer li {
  display: inline;
}

.footerTitle {
  font-size: 15px;
}

.developerFooter {
  margin-right: 17px;
}

/* footer */
footer {
  font-size: 12px;
  background: #ffd9d9dd;
}

.bxl-github,
.bxl-twitter,
.bxl-facebook,
.bxl-instagram {
  color: white;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 30%;
  }

  header {
    height: 68px;
  }

  .main_navbar {
    display: inline;
    position: fixed;
    /*메뉴바 고정*/
    top: 0;
    right: 0;
    background-color: #28345988;
    /*메뉴바 배경*/
    transform: translateX(100%);
    transition: all 0.3s ease-out 0s;
    /*transition(모든 요소, 0,3초 동안, 효과, 딜레이)*/
  }

  .main_navbar.active {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-out 0s;
  }

  .nav_container {
    display: flex;
    flex-direction: column;
    /* 세로로 정렬*/
    margin: 0 auto;
    /*가운데 정렬*/
    margin-top: 80px;
    /*여백 주기*/
  }

  .nav_container li {
    margin: 20px;
  }

  .btn_preety {
    width: 300px;
  }

  .btn_menu {
    display: block;
    /* 햄버거 메뉴 보이게 */
    position: absolute;
    color: white;
    right: 12px;
    width: 40px;
    height: 40px;
    position: fixed;
  }

  section {
    /* 섹션 구분 margin */
    margin-bottom: 10%;
  }
}